<div class="c_recommend">
	<div class="rcmd_top">
		<div class="rcmd_user">
			<div class="top_icon"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/hot/recommend/user_photo.jpg" alt=""></div>
			<div class="top_info">
				<h3>吴MM</h3>
				<p>2017.08.28</p>
			</div>
		</div>
		<div class="rcmd_text">
			#Eone超轻钛金属触感磁力腕表#被他的设计吸引，据说是获得红点设计奖，在买手店看到过，真的觉得适合<em>…</em><span>查看详情</span>
		</div>
		<div class="rcmd_imgs">
			<ul>
				<li><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/hot/recommend/item1.jpg" alt=""></li>
				<li><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/hot/recommend/item2.jpg" alt=""></li>
				<li><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/hot/recommend/item3.jpg" alt=""></li>
			</ul>
		</div>
	</div>
	<div class="rcmd_bom">
		<span class="starts"><i class="fa fa-thumbs-o-up"></i><span>100</span></span>
		<span>去购买<i class="fa fa-long-arrow-right"></i></span>
	</div>
</div>
