<div class="c_my">
	<div class="header">
		<div class="btn_back"><i class="fa fa-angle-left"></i></div>
		<div class="title">我的寺库</div>
		<div class="btn_cancel"><i class="fa fa-power-off"></i></div>
	</div>
	
	<!-- 一个集合 -->
	<div class="my_cell">
		<div class="cell_item">
			<div class="icon"><i class="fa fa-user"></i></div>
			<div class="cont">
				<div class="cont_lt">账户</div>
				<div class="cont_rt">i12312312323 <i class="fa fa-angle-right"></i></div>
			</div>
		</div>
		<div class="cell_item">
			<div class="icon"><i class="fa fa-file"></i></div>
			<div class="cont">
				<div class="cont_lt">订单</div>
				<div class="cont_rt"><i class="fa fa-angle-right"></i></div>
			</div>
		</div>
		<div class="cell_item">
			<div class="icon"><i class="fa fa-gg-circle"></i></div>
			<div class="cont">
				<div class="cont_lt">红包, 优惠卷</div>
				<div class="cont_rt"><i class="fa fa-angle-right"></i></div>
			</div>
		</div>
	</div>

	<!-- 一个集合 -->
	<div class="my_cell">
		<div class="cell_item">
			<div class="icon"><i class="fa fa-apple"></i></div>
			<div class="cont">
				<div class="cont_lt">我的竞拍</div>
				<div class="cont_rt"><i class="fa fa-angle-right"></i></div>
			</div>
		</div>
		<div class="cell_item">
			<div class="icon"><i class="fa fa-cc-amex"></i></div>
			<div class="cont">
				<div class="cont_lt">我的拍卖劵</div>
				<div class="cont_rt"><i class="fa fa-angle-right"></i></div>
			</div>
		</div>
	</div>

	<!-- 一个集合 -->
	<div class="my_cell">
		<div class="cell_item">
			<div class="icon"><i class="fa fa-info-circle"></i></div>
			<div class="cont">
				<div class="cont_lt">关于寺库</div>
				<div class="cont_rt"><i class="fa fa-angle-right"></i></div>
			</div>
		</div>
		<div class="cell_item">
			<div class="icon"><i class="fa fa-phone"></i></div>
			<div class="cont">
				<div class="cont_lt">客服热线</div>
				<div class="cont_rt">400-123-456-7890<i class="fa fa-angle-right"></i></div>
			</div>
		</div>
		<div class="cell_item">
			<div class="icon"><i class="fa fa-circle"></i></div>
			<div class="cont">
				<div class="cont_lt">海外站购买说明</div>
				<div class="cont_rt"><i class="fa fa-angle-right"></i></div>
			</div>
		</div>
	</div>

	<div class="my_bottom">
		<div class="nav">
			<div class="nav_item">
				<i class="fa fa-heart-o"></i>
				<div class="text">首页</div>
			</div>
			<div class="nav_item">
				<i class="fa fa-heart-o"></i>
				<div class="text">品牌</div>
			</div>
			<div class="nav_item">
				<i class="fa fa-heart-o"></i>
				<div class="text">购物袋</div>
			</div>
			<div class="nav_item">
				<i class="fa fa-heart-o"></i>
				<div class="text">我的寺库</div>
			</div>
		</div>
		<div class="info">北京寺库商贸有限公司 联系电话：400-123-456-7890</div>
		<div class="info">地址：北京市东城区朝阳门内大街SOHO C座15层</div>
	</div>

</div>