.c_category{
	padding-top: 46px;
}
/* top-bar */
.cgy_top_bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
	display: flex;
	width: 100%;
	height: 45px;
	text-align: center;
	align-items: center;
	align-content: center;
	border-bottom: 1px solid #999;
	background-color: #fff;
}
.cgy_top_bar .btn_back,
.cgy_top_bar .btn_home{
	width: 45px;
	height: 45px;
	line-height: 45px;
}

.cgy_top_bar .btn_tabs{
	flex: 1;
	height: 30px;
	line-height: 30px;
	border: 1px solid #eaeaea;
}
.cgy_top_bar .btn_tabs span{
	display: block;
	width: 50%;
	height: 100%;
	float: left;
}
.cgy_top_bar span.active{
	color: #fff;
	background-color: #474747;
}

/* 分类item */
.cgy_item {}
.cgy_item dt {
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
}
.cgy_item dd{
	padding:20px 0 20px 15px;
	background-color: #fff;
}
.cgy_item dd span{
	display: block;
	width: 25%;
	float: left;
	color: #666;
	font-size: 12px;
	padding: 10px 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* 品牌 */
.brands {
	position: relative;
	padding-right: 20px;
	box-sizing: border-box;
	background-color: #fff;
}
.bds_fix_nav{
	position: fixed;
	top: 46px;
	right: 0;
	z-index: 1000;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.bds_fix_nav ul{
	background-color: #333;
}
.bds_fix_pane {
	position: fixed;
	top: 46px;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 25px;
	line-height: 25px;
	color: #333;
	text-indent: 10px;
	background-color: #eeeeee;
}
.bds_item dt {
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-indent: 10px;
	background-color: #eeeeee;
}
.bds_item dd p{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #d5d5d5;
}
.bds_item dd p span{
	display: block;
	width: 50%;
	float: left;
	color: #555;
	font-size: 12px;
	text-indent: 10px;
}
.bds_item dd p span:last-child{
	text-align: right;
	padding-right: 5px;
	box-sizing: border-box;
}
