.c_fixed_nav {
	position: fixed;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 50px;
	border-top: 1px solid #f5f5f5;
	background-color: #fff;
}
.c_fixed_nav ul li{
	width: 20%;
	height: 50px;
	float: left;
	text-align: center;
	font-size: 12px;
	opacity: 0.45;
}
.c_fixed_nav ul li.active{
	opacity: 1;
}
.c_fixed_nav ul li i{
	display:block;
	width: 20px;
	height: 20px;
	margin: 8px auto 2px auto;
}
.c_fixed_nav .icon1 {
	background: url('../../../assets/images/icon_fixed_nav1.png') no-repeat;
	background-size: 20px;
}
.c_fixed_nav .icon2 {
	background: url('../../../assets/images/icon_fixed_nav2.png') no-repeat;
	background-size: 20px;
}
.c_fixed_nav .icon3 {
	background: url('../../../assets/images/icon_fixed_nav3.png') no-repeat;
	background-size: 20px;
}
.c_fixed_nav .icon4 {
	background: url('../../../assets/images/icon_fixed_nav4.png') no-repeat;
	background-size: 20px;
}
.c_fixed_nav .icon5 {
	background: url('../../../assets/images/icon_fixed_nav5.png') no-repeat;
	background-size: 20px;
}