<div class="c_fixed_nav">
    <ul class="clearfix">
        <!--<li [routerLink]="['/index']" class="active">
            <i class="icon1"></i>
            <span>首页</span>
        </li>
        <li [routerLink]="['/hot']">
            <i class="icon2"></i>
            <span>尖货</span>
        </li>
        <li [routerLink]="['/category']">
            <i class="icon3"></i>
            <span>分类</span>
        </li>
        <li [routerLink]="['/cart']">
            <i class="icon4"></i>
            <span>购物袋</span>
        </li>-->
        <li *ngFor="let item of nav;let idx=index" [routerLink]="[item.url]" [ngClass]="{'active':activeId===idx}">
            <i [ngClass]="'icon'+(idx+1)"></i>
            <span>{{item.text}}</span>
        </li>
    </ul>
</div>
