<div class="c_detail">
	<div class="header">
		<div class="btn_back"><i class="fa fa-angle-left"></i></div>
		<div class="rt_menus">
			<i class="fa fa-shopping-cart"></i>
			<i class="fa fa-home"></i>
		</div>
	</div>


	<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/detail/slider/1.jpg" alt=""></div>
            <div class="swiper-slide"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/detail/slider/2.jpg" alt=""></div>
            <div class="swiper-slide"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/detail/slider/3.jpg" alt=""></div>
            <div class="swiper-slide"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/detail/slider/4.jpg" alt=""></div>
             <div class="swiper-slide"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/detail/slider/5.jpg" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- desc -->
    <div class="desc">
    	<div class="title">Junghans/荣汉斯 2017年限定款德国Junghans/荣汉斯 max bill系列 白色表盘包豪斯风格041/47</div>
    	<div class="price"><i>品牌特惠</i><span>￥6,394</span></div>
    </div>
	
	<!-- color-size -->
    <div class="color_size">
    	<dl class="color">
    		<dt>颜色</dt>
    		<dd class="clearfix"><span class="active"><img src="assets/images/detail/slider/1.jpg" alt=""></span></dd>
    	</dl>
    	<dl class="size">
    		<dt>尺码 <i>尺码说明</i></dt>
    		<dd class="clearfix">
    			<span class="active">39</span><span>40</span><span>41</span><span>42</span>
    		</dd>
    	</dl>
    	<dl class="promise">
    		<dd>
    			<span class="fa fa-user">正品保证</span>
    			<span class="fa fa-user">维修保养</span>
    			<span class="fa fa-user">7天退换</span>
    			<span class="fa fa-user">权威鉴定</span>
    			<span class="fa fa-user">假一赔十</span>
    		</dd>
    	</dl>
    </div>


</div>