<div class="c_container">
	<div class="c_index">
		<!-- Swiper -->
	    <div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/slider/slider1.jpg" alt=""></div>
	            <div class="swiper-slide"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/slider/slider2.jpg" alt=""></div>
	            <div class="swiper-slide"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/slider/slider3.jpg" alt=""></div>
	        </div>
	        <div class="swiper-pagination"></div>
	    </div>
	    <!-- Nav -->
	    <div class="index_nav clearfix">
	    	<a href="#">
	    		<div class="icon"><img class="lazyload"  src="assets/images/blank.png" data-src="assets/images/index/nav/icon_index_nav1.png" alt=""></div>
	    		<div class="text">专柜自提</div>
	    	</a>
	    	<a href="#">
	    		<div class="icon"><img class="lazyload"  src="assets/images/blank.png" data-src="assets/images/index/nav/icon_index_nav2.png" alt=""></div>
	    		<div class="text">定制</div>
	    	</a>
	    	<a href="#">
	    		<div class="icon"><img class="lazyload"  src="assets/images/blank.png" data-src="assets/images/index/nav/icon_index_nav3.png" alt=""></div>
	    		<div class="text">挑礼</div>
	    	</a>
	    	<a href="#">
	    		<div class="icon"><img class="lazyload"  src="assets/images/blank.png" data-src="assets/images/index/nav/icon_index_nav4.png" alt=""></div>
	    		<div class="text">奢华体验</div>
	    	</a>
	    	<a href="#">
	    		<div class="icon"><img class="lazyload"  src="assets/images/blank.png" data-src="assets/images/index/nav/icon_index_nav5.png" alt=""></div>
	    		<div class="text">VINTAGE</div>
	    	</a>
	    </div>
	    <!-- activity -->
	    <div class="index_active">
	    	<a href="#"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/active/index_active1.png" alt=""></a>
	    	<a href="#"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/active/index_active2.gif" alt=""></a>
	    	<a href="#"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/active/index_active3.jpg" alt=""></a>
	    	<a href="#"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/active/index_active4.jpg" alt=""></a>
	    	<a href="#"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/active/index_active5.jpg" alt=""></a>
	    	<a href="#"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/active/index_active6.jpg" alt=""></a>
	    </div>
	    <!-- category -->
	    <h3 class="index_title">分类 CATEGORY</h3>
	    <div class="index_category">
	    	<div class="cgy_item"><img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category0.jpg" alt=""></div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category1.jpg" alt="">
	    		<div class="cgy_item_text"><span>包袋</span><i>Bags</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category2.jpg" alt="">
	    		<div class="cgy_item_text"><span>腕表</span><i>Watches</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category3.jpg" alt="">
	    		<div class="cgy_item_text"><span>珠宝首饰</span><i>Jewelry</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category4.jpg" alt="">
	    		<div class="cgy_item_text"><span>美妆</span><i>Beauty</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category5.jpg" alt="">
	    		<div class="cgy_item_text"><span>服装</span><i>Clothes</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category6.jpg" alt="">
	    		<div class="cgy_item_text"><span>鞋靴</span><i>Shoes</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category7.jpg" alt="">
	    		<div class="cgy_item_text"><span>配饰</span><i>Accessories</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category8.jpg" alt="">
	    		<div class="cgy_item_text"><span>运动户外</span><i>Sports&Outdoor</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category9.jpg" alt="">
	    		<div class="cgy_item_text"><span>名物</span><i>secoo Ming</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category10.jpg" alt="">
	    		<div class="cgy_item_text"><span>家居生活</span><i>Home</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category11.jpg" alt="">
	    		<div class="cgy_item_text"><span>家电数码</span><i>3C</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category12.jpg" alt="">
	    		<div class="cgy_item_text"><span>母婴</span><i>Mother&Children</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category13.jpg" alt="">
	    		<div class="cgy_item_text"><span>设计师品牌</span><i>Designer Brand</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category14.jpg" alt="">
	    		<div class="cgy_item_text"><span>美酒美食&保健品</span><i>Food&Wine</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category15.jpg" alt="">
	    		<div class="cgy_item_text"><span>豪车</span><i>Luxury car</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category16.jpg" alt="">
	    		<div class="cgy_item_text"><span>寺库艺廊</span><i>Secoo Art</i></div>
	    	</div>
	    	<div class="cgy_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/category/category17.jpg" alt="">
	    		<div class="cgy_item_text"><span>奥莱特卖</span><i>Sale</i></div>
	    	</div>
	    </div>
	    <h3 class="index_title">每周精选 COLLECTION</h3>
	    <div class="index_choice">
	    	<div class="choice_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/choice/choice1.jpg" alt="">
	    	</div>
	    	<div class="choice_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/choice/choice2.jpg" alt="">
	    	</div>
	    	<div class="choice_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/choice/choice3.jpg" alt="">
	    	</div>
	    	<div class="choice_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/choice/choice4.jpg" alt="">
	    	</div>
	    	<div class="choice_item">
	    		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/index/choice/choice5.jpg" alt="">
	    	</div>

	    	<div class="index_text">猜您喜欢 RECOMMEND</div>
	    </div>
	</div>
</div>

<!-- 底部菜单 -->
<app-secoo-fixed-nav></app-secoo-fixed-nav>

