
/* nav */
.index_nav {
    padding: 0 10px;
}
.index_nav a {
    display: block;
    float: left;
    width: 20%;
    padding: 20px 0;
    box-sizing: border-box;
}
.index_nav .icon{
    padding: 0 10px;
}
.index_nav .text{
    display: block;
    text-align: center;
    font-size: 12px;
    color: #333;
}
/* active */
.index_active a{
    display: block;
    width: 100%;
    height: 210px;
    margin-bottom: 10px;
}
.index_active a img{
    margin: 0 auto;
}

/* title */
.index_title{
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
} 

/* category */
.index_category .cgy_item{
    position: relative;
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
}
.index_category .cgy_item_text{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10% 0 0 8%;
}
.index_category .cgy_item_text span{
    display: block;
    font-size: 16px;
}
.index_category .cgy_item_text i{
    font-size: 12px;
    font-style: normal;
}

/* choice */
.index_choice {
    padding: 0 15px;
    background-color: #fff;
}
.index_choice .choice_item{
    margin-bottom: 20px;
}
/* 猜您喜欢 */
.index_text {
    padding: 10px 0 30px 0;
    text-align: center;
    font-style: 18px;
}