
<div class="c_brands">
	<div class="bds_top">
		<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/hot/brands/bg.jpg" alt="">
		<div class="bds_top_indr">
			<h3>不知道下班年买什么</h3>
			<p>你的好友杨幂已经到达目的地</p>
			<a href="#">进入专题</a>
			<span><i class="fa fa-eye"></i>2337</span>
		</div>
	</div>
	<div class="bds_bom">
		<div class="bom_item">
			<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/hot/brands/item1.jpg" alt="">
			<h1>天青色</h1>
			<p>￥100</p>
		</div>
		<div class="bom_item">
			<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/hot/brands/item2.jpg" alt="">
			<h1>等烟雨</h1>
			<p>￥100</p>
		</div>
		<div class="bom_item">
			<img class="lazyload" src="assets/images/blank.png" data-src="assets/images/hot/brands/item3.jpg" alt="">
			<h1>没等着</h1>
			<p>￥100</p>
		</div>
	</div>
</div>