.hot_nav {
	height: 1.3rem;
	padding: 25px 0 15px;
	overflow: hidden;
	background-color: #fff;
}
.hot_nav ul{
	width: 100%;
	white-space: nowrap;
	font-size: 0;
	padding-bottom: 50px;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
.hot_nav ul li{
	position: relative;
	display: inline-block;
	width: 1.3rem;
	height: 1.3rem;
	margin-left: 0.5rem;
	padding: 2px;
	border: 3px solid #fff;
	border-radius: 100%;
}
.hot_nav ul li img{
	display: block;
	border-radius: 100%;
}
.hot_nav ul li span{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 1.3rem;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 100%;
	background-color: rgba(0,0,0,0.5);
}
.hot_nav ul li.active{
	border-color: #ceb88e;
}
.hot_nav ul li.active span{
	background-color: transparent;
}