/* You can add global styles to this file, and also import other style files */
*{
	margin: 0;padding: 0;
}
body{
	color: #333;
	font-size: 14px !important;
	font-family: STHeiti, "Helvetica Neue";
}
a{
	color: #333;
	text-decoration: none;
}
img{
   	display: block;
 	max-width: 100%;
 	margin: 0 auto;
 	border: 0;
}
li {
	list-style: none;
}
a,
li,
div,
button{
	tap-highlight-color:rgba(255,255,255,0);
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	display: block;
	content: "";
	height: 0;
	clear: both;
}
/* lazysizes */
.lazyload {
    opacity: 0;
    transition: opacity .5s linear .1s;
    -webkit-transition: opacity .5s linear .1s;
}
.lazyloading {
    opacity: 0.5;
    transition: opacity .5s linear .1s;
    -webkit-transition: opacity .5s linear .1s;
}
.lazyloaded{
    opacity: 1;
    transition: opacity .5s linear .1s;
    -webkit-transition: opacity .5s linear .1s;
}
/* container */
.c_container {
	width: 100vw;
	height: auto;
	padding-bottom: 70px;
	background-color: #fafafa;
}
/* swiper */
.swiper-container {
    width: 100%;
    height: 260px;
}
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 16px !important;
    border-radius: 20px;
    transition: all .3s linear 0s;
    -webkit-transition: all .3s linear 0s;
    background: #ffffff !important;
}